html, body {
  height: 100%;
  position: relative;
  font-family: 'Rozha One', serif;
  font-size: 25px;
  color: lightgray;
  z-index: -1;
  background-color: black;
}
.imgWidth {
    width: 38vw;
}

li {
    list-style-type: none;
}

h1, h2 {
  font-family: 'Lobster', cursive;
  font-size: 36px;
}
.portfolioWebsites {
  text-align: center;
}

.fa {
  padding: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
}
  

nav {
 width: 100%;
 text-align: right;
 padding-right: 10px;
 z-index: 1;
}
  
.webpageimg {
  min-height: 90%;
}

a {
  padding: 10px;
}

/* 
Index page
*/

canvas {
  position: fixed;
  height: 800px;
  width: 100%;
  z-index: -1;
}

.container-fluid {
  height: 100%;
}

.indexbody {
  min-height: 90vh;
}


h2 {
  padding-left: 2em;
}
.resumeContainer {
    display:flex;
    flex-direction: column;
    text-align:start;
    justify-content:flex-start; /*fix text so that this is properly centered */
}
footer {
    max-width: 480px;
}

/*
Portfolio page
*/

.webpageimage {
  display: flex;
 flex-wrap: wrap;
}

.portlink {
  font-size: 5vh;
 text-align: center;
 align-items: center;
 flex: 1;
}

/*figcaption {
  height: 3em;
}*/


.nonnacontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.roccocontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.saloncontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.dramaticllamacontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

