
@font-face {
    font-family: ForeverBrushScript;
    src: url(ForeverBrushScriptDemo.ttf) format('truetype');
}

@font-face {
    font-family: PersonalUse_Monoment;
    src: url(PersonalUse_Monoment.ttf) format('truetype');
}


h1, h2 {
    font-family: ForeverBrushScript;
    font-size: xx-large;
}

body {
    background-image: url("ingredients.jpg");
    background-size: cover;
    font-family: Berlin Sans FB, Calibri
}

a:link {
    color: sandybrown;
}

a:visited {
    color: darksalmon;
}

a:hover {
    color: antiquewhite;
}

a:active {
    color: tan;
}

.imgNonna, .imgRestaurant {
    width: 70%;
}

.imgFood {
    width: 40%;
}

#menu {
    width: 40%;
    min-height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: .9;
    color: tan;
    text-align: center;
}


.aboutnonna {
    position: relative;
    width: 40%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    opacity: .9;
    color: tan;
    text-align: center;
    overflow: auto;
}

li {
    list-style: none;
}

.dot {
    display: flex;
    align-items: center;
    margin-bottom:50px;
    justify-content: center;
    height: 3em;
    width: 10vh;
    background-color: black;
    border-radius: 20%;
}

@media screen and (max-width: 500px) {
    nav {
        float: left;
        margin: 0;
        padding: 0;
        top: 20px;
    }
    .aboutnonna {
        position: relative;
        width: 65%;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        opacity: .9;
        color: tan;
        text-align: center;
        overflow: auto;
    }
}


@media screen and (max-width: 800px) {
    nav {
        float: left;
        overflow: auto;
        left: 0;
        top: 20px;
    }
    .aboutnonna {
        position: relative;
        width: 65%;
        height: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: black;
        opacity: .9;
        color: tan;
        text-align: center;
        overflow: auto;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        position: fixed;
        width: 20%;
        height: 100%;
        overflow: auto;
        left: 180px;
        top: 30px;
    }
}
