nav {
    display: flex;
    justify-content: center;
}

body {
    font-family: Berlin Sans FB;
}

nav {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 00px;
    padding: 10px;
    background-color: #3f0101;
}

#homeNav,
#homeNav span {
    background-color: white;
}

.fa-times-circle {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    padding-right: 10%;
}

small {
    font-size: 2vh;
}

.title {
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    background-color: #3f0101;
    font-family: 'Della Respira', serif;
    font-size: 300%;
    color: lightslategray;
}
footer {
    color: lightslategray;
}
.container1,
.container2,
.container3,
.container4 {
    width: 300px;
    height: 300px;
    margin: 5px;
}

#index {
    position: relative;
    top: 180px;
    left: 70px;
    background-color: black;
}

#contact {
    position: relative;
    top: 180px;
    left: 50px;
    background-color: black;
    opacity: .7;
}

#menu,
#home,
#contactus,
#gallery {
    position: absolute;
    z-index: 1;
    transform: translate(55px, 25px);
}

.homeNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeNav {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
    height: 800px;
}

#homeNav>div {
    flex: 0 50%;
}

.photoContainer {
    max-width: 600px;
}

a:link {
    color: rgb(202, 235, 217);
    font-size: 300%;
    font-weight: bolder;
    font-family: Harrington;
}

a:visited {
    color: darkgray;
    font-size: 300%;
    font-weight: 900;
    font-family: Harrington;
    text-shadow: 4px 4px #0f1011;
}

a:hover {
    color: lightblue;
    font-size: 300%;
    font-weight: 900;
    font-family: Harrington;
    text-shadow: 4px 4px #0f1011;
    opacity: .5;
}

.dolci,
.piatti,
.pizza,
.antipasti {
    text-align: center;
    padding: 1%;
}

.hours {
    text-align: center;
}

.mainfoot,
.contactfoot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #3f0101;
}

address,
.portfolio {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 500px) {
    
a:link {
    color: rgb(202, 235, 217);
    font-size: large;
    font-weight: bolder;
    font-family: Harrington;
}

a:visited {
    color: darkgray;
    font-size: large;
    font-weight: 900;
    font-family: Harrington;
    text-shadow: 4px 4px #0f1011;
}

a:hover {
    color: lightblue;
    font-size: large;
    font-weight: 900;
    font-family: Harrington;
    text-shadow: 4px 4px #0f1011;
    opacity: .5;
}
}
.callUs {
    background-color: #3f0101;
}