body {
    background-color: lightslategray;
    font-family: 'Philosopher', sans-serif;
}

#btn {
    display: flex;
    height: 50px;
}

button,
input {
    height: 25px;
    margin: 10px;
}

#calculateBtn {
    width: 150px;
}

.category {
    margin: 5px;
    padding: 0px;
    background-color: lightsteelblue;
    min-width: 30%;
    max-width: 800px;
}

.catInput,
.billInput,
.miscExpInput,
.addBudgetInput {
    width: 15%;
    margin: 2px;
    height: 20px;
    display: none;
    visibility: hidden;
}

table {
    width: 100%;
}

tr {
    display: flex;
    max-width: 800px;
}

.tableBlank {
    width: 80px;
}

.tableName, .tableDate {
    width: 50%;
    text-align: left;
}

.tableAmount {
    width: 50%;
    text-align: right;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

td > input {
    width: 70%;
    margin-left: 10px;
    padding: 50px;
}